
.logo {
    background:  linear-gradient(135deg, hsl(262 83% 58%), hsl(280 100% 70%));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
 
}

.navbar {
  background-color: white;
 
}


.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
}

.searchForm {
  display: flex;
  flex: 1;
  max-width: 600px;
  gap: 10px;
}

.submit {
  background-color: blueviolet;
  color: white;
  border: none;
  padding: 0.5rem 1.2rem;
  border-radius: 50px;
  font-weight: bold;
  transition: all 0.3s ease;
}

.submit:hover {
  background-color: #e09900;
}


.loginContainer {
  display: flex;
  align-items: center;
}

.login {
  background: linear-gradient(135deg, hsl(262 83% 58%), hsl(280 100% 70%));
  color: white;
  padding: 0.5rem 1.2rem;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
   box-shadow: 0 0 10px rgba(189, 7, 218, 0.511);
 transition: all 0.3s ease;
  transform: translateY(0); 
}

.login:hover {
  opacity: 0.95;
  color: white;
  transform: translateY(-3px) scale(1.03);
 
}


@media (max-width: 768px) {
  
  .container {
    flex-direction: column;
    align-items: stretch;
  }

  .logo a {
    font-size: 1.5rem;
    text-align: center;
  }
  .res{
    display: flex;
  }

  .hidden{
    display: none !important;
  }

}
